[Unit]
Description=lab1.jar

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/azureuser/lab1.jar
WorkingDirectory=/home/azureuser

[Install]
WantedBy=multi-user.target